<div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
            <div class="controls">
                <input type="text" id="email" placeholder="Email" class="form-control" formControlName="email">
                <p class="error"
                    *ngIf="loginForm.controls.email.errors?.required && !loginForm.controls.email.pristine">
                    Email is Required
                </p>
                <p class="error" *ngIf="loginForm.controls.email.errors?.pattern && !loginForm.controls.email.pristine">
                    Please enter a valid email
                </p>
            </div>
        </div>

        <div class="form-group">
            <div class="controls">
                <input type="text" id="password" placeholder="Password" class="form-control" formControlName="password">
                <p class="error"
                    *ngIf="loginForm.controls.password.errors?.required && !loginForm.controls.password.pristine">
                    Password is Required
                </p>
            </div>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">
            LOGIN
        </button>
    </form>
</div>