@import './variables.css';

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-button{
    background-color: var(--primary-yellow);
    color: var(--primary-dark-blue);
    border: none;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    font-family: var(--primary-font-family);
}

.yellow-button:hover{
    box-shadow: 3px 3px 5px 0px rgb(161, 161, 161);
    cursor: pointer;
}

.form-headings{
    font-family: var(--primary-font-family);
}

.login-signup-image{
    width: 100%;
    height: 100vh;
    background-image: url('../background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}